/* Ranking Card */
.main-section{
	border:1px solid #46301c;
	background-color: #fff;
}
.profile-header{
    background-color: #764a21;
    height: 130px;
}
.user-detail{
	margin:-50px 0px 30px 0px;
}
.user-detail img{
	height:100px;
	width:100px;
	padding: 15px;
}
.user-detail h5{
	margin:15px 0px 5px 0px;
}
.user-social-detail{
	padding:15px 0px;
	background-color: #764a21;
}
.user-social-detail i{
	color:rgba(0, 0, 0, 0.25);
	font-size:23px;
	padding: 0px 5px;
}